<!doctype html>
<html>
    <head>
        <title> Comments </title>
        <meat charset = 'utf-8'>
          <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
          <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

          <style>
          th { text-align: center; }
          div.menus {
            text-align: center;
            padding: 40px 15px;
          }





          </style>
      </head>
      <body>
        <!--
css版型設定
-->
          <nav class="navbar navbar-inverse navbar-fixed-top"
          role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Sprite&Aiko kitchen</a>
            </div>
          </div>
        </nav>



        <!--
    資料讀取主體
        -->
<div class="container">
  <div class="menus">
    <p>
      <!--
        #顯示路徑位置

      <p>您現在的位置在{{ path }}</p>
-->

        <h2>{{ r.name }}的評價</h2>
       {% if r.comment_set.all %}
       <p>目前共有{{ r.comment_set.all|length }}條評價</p>
       <table class="table">
           <tr>
               <th>留言者</th>
               <th>時間</th>
               <th>評價</th>
           </tr>
           {% for c in r.comment_set.all %}
           <tr>
               <td> {{ c.visitor }} </td>
               <td> {{ c.date_time | date:"D F j, Y"}} </td>
               <td> {{ c.content }} </td>

           </tr>
           {% endfor %}
       </table>
    </p>
       {% else %}
       <p>無評價</p>
       {% endif %}

       <br></br>


        {% if f.errors %}
              <p style="color:red;">請依提示修復表單</p>
        {% endif %}

       <form action="" method="post" > {% csrf_token %}
         <table>
           {{ f.as_p }}
         </table>
         <input type="submit" value="給予評價">
       </form>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      </body>
</html>
